body {
    margin: 25px;
    padding: 25px;
}
section p {
    padding: 25px;
}
section p.bigmessage {
    font-size: 3em;
    text-align: center;
    font-weight: bold;
}
section h1 {
    text-align: center;
}
a, a:visited {
    color: #663;
    text-decoration: none;
}
th, td {
    text-align: left;
    padding: 10px;
}
label {
    display: block;
    margin: 15px;
}
form.buttons {
    text-align: center;
}
footer {
    margin-top: 25px;
    text-align: center;
}
html {
  background-color: #FFD;
}
section {
  border-radius: 25px;
  border: 1px solid #888;
  padding-left: 15px;
  background-color: #DDE;
  text-align: left;
}
body {
  text-align: center;
}
